/*html{
	position: relative;
}

body{
	position: relative;
	font-family:'Microsoft YaHei';
	margin: 0;
	padding: 0;
}
*/
.header{
	position: relative;
	height: 60px;
	width: 100%;
	background: #177EE5;
}

.header .refresh-wrap{
	position: absolute;
	width: 30px;
	heihgt: 30px;
	top: 15px;
	left: 15px;
}

.refresh-wrap .refresh-pic{
	position: absolute;
	width: 100%;
	heihgt: 100%;
}

.header .title{
	line-height: 60px;
	text-align: center;
	position: relative;
	width: 100%;
	height: 60px;
	font-size: 18px;
	color: #fff;
	display:inline-block;
}

.header .newTwitterBtn{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 15px;
	right: 15px;
	z-index: 100;
}

.newTwitterBtn .addBtn-pic{
	position: absolute;
	width: 100%;
	heihgt: 100%;
}

.header .backBtn{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 15px;
	left: 15px;
	z-index: 100;
}

.backBtn .backBtn-pic{
	position: absolute;
	width: 100%;
	height: 100%;
}


#main-container{
	position: relative;
	background: #f0f0f0;
}

.moreContent-container{
	position: relative;
	background: #f0f0f0;
}

.wrap{
	position: relative;
	width: 94%;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 20px;
	border-bottom: 1px solid #dddddd;
}

.wrap .potrait-wrap{
	position: relative;
	width: 20%;
	height: 100px;
	float: left;
}

.potrait-wrap .potrait-pic{
	position: relative;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.wrap .content-wrap{
	position: relative;
	width: 80%;
	float: left;
}

.content-wrap .name-wrap{
	font-size: 16px;
}

.content-wrap .text-wrap{
	font-size: 16px;
	margin-top: 5px;
	word-wrap: break-word;
}

.content-wrap .tool-wrap{
	position: relative;
	margin-top: 5px;
	
}

.content-wrap .tool-wrap .time-wrap{
	font-size: 10px;
	coloe: #e3e3e3;
}

.tool-wrap .favourBtn{
	position: relative;
	width: 40px;
	height: 25px;
	line-height: 25px;
	font-size: 10px;
	background: #db4549;
	color: #fff;
	float: right;
	text-align: center;
	border-radius: 4px;
}

.tool-wrap .not-favourBtn{
	position: relative;
	width: 40px;
	height: 25px;
	line-height: 25px;
	font-size: 10px;
	border: 1px solid #000;
	color: #000;
	float: right;
	text-align: center;
	border-radius: 4px;

}

.tool-wrap .commentBtn{
	position: relative;
	right: 15px;
	width: 40px;
	height: 25px;
	line-height: 25px;
	font-size: 10px;
	color: #000;
	border: 1px solid #000;
	float: right;
	text-align: center;
	border-radius: 4px;
}

.commentBox{
	background: #dddddd;
	margin-bottom: 10px;
}

.commentBox .commentList{
	position: relative;
	margin: auto 5px;
}

.commentList .comment{
	font-size: 14px;
	color: #000;
}

.favourBox{
	position: relative;
	margin-top: 10px;
	background: #dddddd;
	margin-bottom: 5px;
	padding: 0 5px;
}

.favourBox .favourItem{
	margin-right: 5px;
	font-size: 12px;
	color: #000;
}

.commentInput-wrap{
	position: relative;
	padding: 5px 5px;
	background: #dddddd;
	display: none;
	border-bottom: 1px solid #cccccc;
	width: 100%;
}

.comment-input{
	resize: none;
	width: 200px;
	min-height: 50px;
	overflow-y: visible;
	line-height: 16px;
	word-wrap: break-wrap;
	font-size: 14px;
	background: #eeeeee;
	outline: none;
	margin: 5px 0 5px 0;
	border: none;
	padding: 5px;
	position: relative;
}

.comment-submitBtn{
	position: absolute;
	margin-top: 5px;
	width: 14%;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	left: 77%;
	top: 5px;
	border: 1px solid #000;
}

.loadBtn{
	margin-top: 10px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #177EE5;
	font-size: 14px;
}

.no-content{
	margin-top: 10px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #cccccc;
	font-size: 14px;
	display: none;
}

.head-pic-wrap{
	position: relative;
	width: 100%;
	height: 200px;
}

.head-pic-wrap .head-pic{
	position: absolute;
	width: 100%;
	height: 100%;
}

.head-pic-wrap .my-potrait-wrap{
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: -20px;
	right: 30px;
	z-index: 10;
	border: 2px solid #eee;
}

.my-potrait-wrap .my-potrait-pic{
	position: absolute;
	width: 100%;
	height: 100%;
}

.head-pic-wrap .my-name-wrap{
	position: absolute;
	height: 20px;
	line-height: 20px;
	color: #fff;
	font-size: 16px;
	bottom: 8px;
	right: 115px;
}


#newTwitter-container{
	position: relative;
	width: 100%;
	display: none;
}

#newTwitter-container .twitter-content{
	position: relative;
	width: 96%;
	border: 1px solid #ddd;
	margin-top: 20px;
	outline: none;
	resize: none;
	height: 160px;
	font-size: 16px;
	padding: 5px;
}

.uploadBtn{
	position: absolute;
	height: 30px;
	line-height: 30px;
	right: 15px;
	top: 15px;
	font-size: 12px;
	color: #fff;
	display: none;
}

.submitBtn{
	position: absolute;
	height: 30px;
	line-height: 30px;
	right: 15px;
	top: 15px;
	font-size: 12px;
	color: #fff;
}

.imgBox{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.imgBox .imgItem{
	position: relative;
	float: left;
	width: 30%;
	height: 90px;
	margin: 1px;
	border: 1px solid #cccccc;
}